/*estilos generales*/
:root{
    --color-principal: #f67f00fd;
    --color-primary-hover:#f15c06;
    --color-verde:#04A75B;
    --color-negro: #444A47;
    --color-fondo: #F7F9FD;
    --color-footer: #151515;
}

*,::after, ::before{
    box-sizing: border-box;
}

*{
    padding: 0px;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.hm-wrapper{
    position: relative;
}

.hm-wrapper, body{
    min-height: 100%;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.bg-fondo{
    background: var(--color-fondo);
}

.container{
    width: 1122px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 1px){
    .container{
        width: auto;
        max-width: 1122px !important;
    }
}

.uppercase{

    text-transform: uppercase !important;
}

/*buttons*/

.hm-btn{
    display: inline-block;
    position: relative;
    padding: 12px 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    outline: 0;

}

.btn-primary{
    background: var(--color-principal);
    color: #fff;
    border-radius: 25px;
    text-align: center;
}

.btn-primary:hover{
    background: var(--color-primary-hover);
}



/*header*/

.header-menu-movil{
    display: none;
}


.hm-header{
    position: relative;
    height: 64px;
    background: #fff;
    line-height: 64px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.hm-header .container{
    height: 100%;
}

.hm-header.header-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 8%);
    z-index: 99;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-menu{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-menu .hm-logo{
    width: 202px;
}

.hm-menu{
    display: flex;
    position: relative;
}

.hm-menu ul{
    display: flex;
}

.hm-menu ul li a{
    color: var(--color-negro);
    font-size: 15px;
    margin-right: 30px;
    display: inline-block;
}

.hm-menu ul li a:hover{
    color: var(--color-principal);
}



/*banner*/
.hm-banner{
    position: relative;
    width: 100%;
    height: 350px;
    min-height: 350px;
    overflow: hidden;
}

.hm-banner a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.hm-banner .img-banner{
    height: 100%;
}


/*Menu principal*/
.hm-page-block{
    position: relative;
    padding: 60px 0px;
}

.header-title{
    margin-bottom: 50px;
}

.header-title h1{
    color: var(--color-negro);
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 16px;
}

.header-title h1::after{
    content: '';
    width: 76px;
    height: 5px;
    background: var(--color-principal);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 3px;

}

.hm-grid-category,
.grid-product{
    display: grid;
    grid-template-columns: repeat(4,calc(25% - 2rem*3/4));
    row-gap: 2rem;
    column-gap: 2rem;
    max-width: 1122px;
}

.hm-grid-category .grid-item{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    max-height: 360px;
    
}

.hm-grid-category .grid-item img,
.grid-product .product-item .p-portada img{
    transition: all .3s ease-in;
}

.hm-grid-category .grid-item img:hover,
.grid-product .product-item .p-portada img:hover{
    transform: scale(1.07);
}

.hm-grid-category .grid-item:hover .c-info{
    transform: translateY(0%);
}

.hm-grid-category .grid-item .c-info{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    background: rgba(0, 0, 0, 40%);
    transform: translateY(100%);
    transition: all .3s ease-in;
}

.hm-grid-category .grid-item .c-info h3{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/* MENU*/

.hm-tabs{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.hm-tabs .hm-tab-link{
    margin: 0px 20px;
    background: #fff;
    border:1px solid #EEF5F9;
    padding: 10px 30px;
    border-radius: 22px;
    color: #7C807E;
    cursor: pointer;
    transition: all .3s;
}

.hm-tabs .hm-tab-link.active,
.hm-tabs .hm-tab-link:hover{
    background: var(--color-principal);
    color: #fff;
}

.hm-tabs .hm-tab-link.active .tabs-content{
    background: red;
}
/* tabs / menues */


.tabs-content.tab-active{
    display: flex;
}
.tabs-content {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;
    padding: 100px 50px;
}


.tabs-content .product-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;    
}

.tabs-content .product-item:hover {
    height: 400px;
}

.tabs-content .product-item .p-portada {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.tabs-content .product-item:hover .p-portada {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.tabs-content .product-item .p-portada img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs-content .product-item .p-info {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.tabs-content .product-item:hover .p-info {
    top: 130px;
    height: 250px;
}

.tabs-content .product-item .p-info h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #f67f00fd;
}

.tabs-content .product-item .p-info p {
    color: #333;
}

.tabs-content .product-item .p-info a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: #f67f00fd;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}




/* responsive*/
@media screen and (max-width: 1024px){
    .grid-product{
        grid-template-columns: repeat(3,calc(33.33% - 2rem*2/3));
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

.hm-header .icon-menu{
    display: none;
}

@media screen and (max-width: 800px){
    .hm-banner{
        height: 400px;
        min-height: 400px;
    }

    .hm-grid-category,
    .grid-product{
        grid-template-columns: repeat(2,calc(50% - 2rem*1/2));
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .hm-header .hm-menu ul{
        display: none;
    }

    .hm-header .icon-menu{
        display: block;
        margin-left: 20px;

    }

    .hm-header .icon-menu button{
        background: transparent;
        border: none;
        font-size: 22px;
        color: var(--color-negro);
    }

    footer .foo-row{
        flex-direction: column;
    }

    footer .foo-row .foo-col{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    footer .foo-row .foo-col ul{
        display: none;
    }

    .hm-tabs .hm-tab-link{
        margin: 0px 10px;
        margin-bottom: 10px;
    }

    /* menu */
    .header-menu-movil{
        background: var(--color-principal);
        position: fixed;

        display: block;
        padding: 40px;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        transition: all .3s ease;
        transform: translate(-100%);
    }

    .header-menu-movil.active{
        transform: translate(0%);
    }

    .header-menu-movil .cerrar-menu{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        border: none;
        background: #fff;
        font-size: 18px;
        color: var(--color-negro);
    }

    .header-menu-movil ul li{
        position: relative;
        margin: 10px 0px;
    }

    .header-menu-movil ul li a{
        display: inline-block;
        color: #fff;
    
    }
}

@media screen and (max-width: 400px){
    .hm-banner{
        height: 320px;
        min-height: 320px;
    }

    .hm-grid-category{
        grid-template-columns: repeat(2,calc(50% - 1rem*1/2));
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .grid-product {
        grid-template-columns: repeat(1,100%);
        column-gap: 1rem;
    }


    .hm-tabs .hm-tab-link{
        margin: 0px 10px;
        margin-bottom: 10px;
    }

    
}



/** Two Columns Section **/

/* Media query para 320px*/

.wrap-two-column {
    max-width: 100%; /* Ajuste al ancho completo de la pantalla */
    margin: 0 auto;
}

.wrap-two-column {
    display: flex;
    flex-direction: column; /* Cambie a una columna en tamaños mas chiquitos */
}

.wrap-text-column h3 {
    padding: 1rem 0; /* Reduci el espacio de relleno para tamaños de pantalla más chicos */
}

.wrap-img_two-column,
.wrap-text-column {
    padding: 1rem; /* Reduci el espacio de relleno para tamaños de pantalla más chicosx2 */
    text-align: center; /* Centre el contenido */
}

/* Media query para 768px */
@media (min-width: 768px) {
    .wrap-two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .wrap-text-column h3 {
        padding: 2rem 0; /* Restaure el espacio de relleno para tamaños de pantalla más grandes */
    }

    .wrap-img_two-column,
    .wrap-text-column {
        padding: 2rem; /* Restaure el espacio de relleno para tamaños de pantalla más grandesX2 */
        text-align: left; /* Restaure la alineación izquierda del contenido */
    }
}

/* Media query para 1024px */
@media (min-width: 1024px) {
    .wrap-two-column {
        max-width: 1200px; /* Restaure el ancho máximo para tamaños de pantalla más grandes */
    }
}


/* Social logos*/
  
 
  
  .wrap-social-logos ul{
    display: flex;
    justify-content: center;
  }
  
  .social-logo{
    max-width: 75px;
    width: 100%;
    padding: 1rem;
  }


  /* formulario */



.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #f67f00fd;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #f7f7f7;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid #f67f00fd;
}

/* Estilo del botón del formulario */

.contact-form form button {
    background: #f67f00fd;
    border: none;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #f67f00fd;
    color: black;
    transition: background-color 1s ease-out;
    outline: 0;
    
    
 
}

button[type="submit"] {
    padding: 10px 20px; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 

}


/* CONTACT INFO */
.contact-info {
    background: #f67f00fd;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
/*SUCURSALES*/
.cards-sucursales {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    perspective: 1000px;
    width: 600px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #fffefcfd;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #f67f00fd;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(../img/local.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
}

.map {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

 /* Nosotros */


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    text-align: center;
  }
  
  .local-1 img,
  .local-2 img,
  .local-3 img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  
  
  .local-1,
  .local-2,
  .local-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 0 20px;
  }
  .local-1,
  .local-2,
  .local-3 > p, h2 {
    color: #000000;
  }
  
  .local-1, .local-2, .local-3 {
    margin: 0 10px;
  }
  
  
  .local-3 {
    flex: 1;
    max-width: 100%;
  }


  /*footer*/

  .foo-copy{
    background: #000000;
    padding: 40px 0px;
 }

 .foo-copy p{
    text-align: center;
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 300;
 }



 /*ESTOY CANSADO JEFE*/

 .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    width: 300px; /* Ajusta el ancho según tus preferencias */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .photo img {
    width: 100%;
    height: 200px; /* Ajusta la altura de la imagen según tus preferencias */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .burger-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-negro);
    margin: 10px;
  }
  
  .card p {
    color: #555;
    margin: 10px;
  }
  
  .price {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-principal);
    margin: 10px;
  }
  
  .buton {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .buton button {
    padding: 12px 25px;
    background: var(--color-principal);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buton button:hover {
    background: var(--color-primary-hover);
  }
  